.employee_form .row .col .v-input .v-input__control .v-text-field__details{
    display: none;
}

.employee_form .row .col .error--text .v-input__control .v-text-field__details{
    display: block!important;
}

.employee_form .row .col {
    margin: 3px 0;
}