@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@import url('https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import '~vuetify/dist/vuetify.css';

$font-family: 'Open Sans';


@font-face {
    font-family: 'icomoon';
    src:  url('/fonts/icomoon.eot?lw7kzk');
    src:  url('/fonts/icomoon.eot?lw7kzk#iefix') format('embedded-opentype'),
      url('/fonts/icomoon.ttf?lw7kzk') format('truetype'),
      url('/fonts/icomoon.woff?lw7kzk') format('woff'),
      url('/fonts/icomoon.svg?lw7kzk#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon-cal:before {
    content: "\e900";
  }
  .icon-filters:before {
    content: "\e901";
  }
  .icon-grid:before {
    content: "\e902";
  }
  .icon-layer:before {
    content: "\e903";
  }
  .icon-menu:before {
    content: "\e904";
  }
  .icon-new:before {
    content: "\e905";
  }
  .icon-notif:before {
    content: "\e906";
  }
  .icon-project:before {
    content: "\e907";
  }
  .icon-search:before {
    content: "\e908";
  }