.login-main {
    width: 100%;
    height: 100%;
    display: flex;
}

.login-main .image-container {
    width: 60%!important;
    height: 100%;
    background-color: red;
}

.login-main .image-container .image-content{
    background-image: url('../images/login-images.jpg');
    background-size: cover;
    background-repeat: round;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.login-main .login-container {
    width: 40%!important;
    height: 100%;
    background-color: #fafafa;
    display:flex; 
    justify-content:center
}


.checkbox .v-input--selection-controls__input .v-icon {
    color: primary!important;
}

