@import 'icons.scss';

.test {
    text-align: center;
}

.v-slide-group__content {
    background: #038bdd !important;
}

.theme--light.v-tabs>.v-tabs-bar .v-tab--disabled, .theme--light.v-tabs>.v-tabs-bar .v-tab:not(.v-tab--active), .theme--light.v-tabs>.v-tabs-bar .v-tab:not(.v-tab--active)>.v-btn, .theme--light.v-tabs>.v-tabs-bar .v-tab:not(.v-tab--active)>.v-icon{
    color: white!important;
}

.v-slide-group__wrapper{
    height: 70px;
}

.v-item-group{
    height: 50px!important;
}

.v-tabs-slider-wrapper {
    color: orange;
}

.v-text-field.v-text-field--enclosed .v-text-field__details {
    display: none;
  }

  table>thead.v-data-table-header>tr>th,
thead .v-data-table__checkbox>.v-icon {
    background-color: #0086c2 !important;
    color: #fff !important;
    text-transform: capitalize !important;
    font-size: 20px;
}


tbody tr:nth-of-type(odd) {
    background-color: #eeeeee;
}

tbody tr:nth-of-type(even) {
    background-color: #accde1;
}
.v-overlay__scrim {
    opacity: 0!important;
}

.v-dialog__content .v-dialog {
    background-color: white !important;
    height: 100vh!important;
    margin: 0!important;
    max-height: 100%!important;
}