@import 'icons.scss';

.test {
    text-align: center;
}

.v-slide-group__content {
    background: #038bdd !important;
}

.theme--light.v-tabs>.v-tabs-bar .v-tab--disabled, .theme--light.v-tabs>.v-tabs-bar .v-tab:not(.v-tab--active), .theme--light.v-tabs>.v-tabs-bar .v-tab:not(.v-tab--active)>.v-btn, .theme--light.v-tabs>.v-tabs-bar .v-tab:not(.v-tab--active)>.v-icon{
    color: white!important;
}

.v-slide-group__wrapper{
    height: 70px;
}

.v-item-group{
    height: 50px!important;
}

.v-tabs-slider-wrapper {
    color: orange;
}

.v-text-field.v-text-field--enclosed .v-text-field__details {
    display: none;
  }

