.date-hidden {
    margin:0 !important; 
    visibility:hidden !important; 
}

.d-button{
    position: fixed !important;
    right: 19px !important;
    z-index: 8 !important;
    bottom: 80px !important;
}


.center_hint{
    font-size: 10px;
    text-align: start;
    color: red;
    font-style: italic;
}


.work-half-morning{
    z-index:10 !important;
    position: relative;
    background: 
        linear-gradient(to top right, #2196f3 49%, transparent 51%) !important;
}

.border-selected{
    border: 1px solid orange !important;
    box-shadow: 5px 4px 5px 0px rgb(38 30 5 / 75%)
}

.pointer{
    cursor: pointer;
}

.work-half-afternoon{
    z-index:10 !important;
    position: relative;
    background: 
        linear-gradient(to bottom left, #2196f3 49%, transparent 51%) !important;
}

.work-full{
    background-color: #2196f3;
    z-index:1 !important;
    position: absolute;
    top: 0;
    z-index: 1;
    right: 0;
    left: 0;
    bottom: 0;
}

.holiday-full{
    position: absolute;
    top: 0;
    z-index: 1;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #4caf50;
    z-index:1 !important;
}
.empty-day {
    background-color: white;
    color:white;
    z-index: 1;
    cursor: pointer;
  }
.empty-day:hover {
    background-color: #d1cbc0;
}

.holiday-half-morning{
    z-index:1 !important;
    position: absolute;
    background: 
        linear-gradient(to top right, #4caf50 49%, transparent 51%) !important;
}

.holiday-half-afternoon{
    z-index:1 !important;
    position: absolute;
    background: 
        linear-gradient(to bottom left, #4caf50 49%, transparent 51%) !important;
}

.rtt-full{
    background-color: #ffeb3a;
    position: absolute;
    top: 0;
    z-index: 1;
    right: 0;
    left: 0;
    bottom: 0;
}

.nat-holiday {
    background-color: orange;
    position: absolute;
    top: 0;
    z-index: 1;
    right: 0;
    left: 0;
    bottom: 0;
}

.position-absolute-fixed{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    color: white !important;
}

.position-relative{
    position: relative!important;
}

.currentDay {
    background-color: #7db5d0;
    opacity:0.8;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    color:white;
  }

.card-radius{
    border-radius: 30px !important;
}


.v-dialog:not(.v-dialog--fullscreen) {
    border-radius: 30px !important;
}

.holiday {
    background:orange !important;
    color: white !important;
    position: absolute;
    top: 0;
    z-index: 1;
    right: 0;
    left: 0;
    bottom: 0;
}
.absence-absence {
    background:red !important;
    color: white !important;
    position: absolute;
    top: 0;
    z-index: 1;
    right: 0;
    left: 0;
    bottom: 0;
}
.css_td {
    position: relative;
}