.test {
  text-align: center;
}

table>thead.v-data-table-header>tr>th,
thead .v-data-table__checkbox>.v-icon {
  background-color: #0086c2 !important;
  color: #fff !important;
  text-transform: capitalize !important;
  font-size: 20px;
}

tbody tr {
  cursor: pointer !important;
}

.index-table tbody tr:nth-of-type(odd) {
  background-color: #eeeeee;
}

.index-table tbody tr:nth-of-type(even) {
  background-color: #accde1;
}

.v-overlay__scrim {
  opacity: 0!important;
}

.v-dialog__content .v-dialog {
  background-color: white !important;
  margin: 0!important;
}


.subheader{
  padding: 0!important;
  position:fixed;
  width: 100%;
  background-color: white;
  text-align : center;
  top: 54px;
  z-index: 1;
  margin-bottom: 50px;
}
  
.subheader .sub-container {
  height: 100%;
  width:50%;
  display:flex; 
  justify-content:center;
}

.subheader .sub-container .date-container{
  display:flex; 
  justify-content:center;
}
  
.subheader .sub-container .date-container .arrow-btn{
  margin: auto 0;
}
  
.subheader .sub-container .date-container .date-field{
  text-align:center; 
  margin: 15px 10em; 
  padding: 0!important; 
  display:flex;
}
  
.subheader .sub-container .date-container .date-field p{
  margin: 0!important;
}

.subheader .sub-container .date-container .date-field .displaymonth{
  padding-right: 5px; 
}

.sub-container .field {
  position:relative;  
  width: 100%;
}

.sub-container .field .sub-field{
  position:absolute; 
  right:14px; 
  display:flex;
  bottom:0; 
  top:0; 
  align-items:center;
}

.sub-container .field .sub-field .sub-dropdown_btn {
  color:black; 
  background-color:white;
}

.sub-container .field .sub-field .sub-dropdown_btn .dropdown-icon{
  margin-left: 20px
}

.sub-container .field .sub-field .sub-filter_btn{
  color:black; 
  background-color:white; 
  padding:0!important;
} 

.sub-container .field .sub-field .sub-filter_btn{
  margin-right: 10px;
}

.subheader .tags {
  height: 100%;
  width:50%; 
  position:relative; 
  display:flex;
  align-items: center;
}

.subheader .tags .tags-container {
  position:absolute; 
  right:10px; 
  display:flex; 
  align-items:center;
}

.subheader .tags .tags-container .container{
  display:flex;
  align-items: center; 
  width: 7.6em;
  padding:0;
}

.subheader .tags .tags-container .container .tags-color{
  width:15px; 
  height:8px; 
  border-radius: 10px
}

.subheader .tags .tags-container .container .tags-name{
  padding-left:5px;
  pointer-events: none;
}

.subheader .tags .tags-container .container .travaille{
  background-color: #2196f3; 
}

.subheader .tags .tags-container .container .absence{
  background-color: #f44336; 
}

.subheader .tags .tags-container .container .conflit{
  background-color: #6a1b9a; 
}

.subheader .tags .tags-container .container .vacances{
  background-color: #4caf50; 
}

.subheader .tags .tags-container .container .rtt{
  background-color: #ffeb3a; 
}

.subheader .tags .tags-container .container .dimanche{
  background-color: #757575; 
}

.subheader .tags .tags-container .container .jour{
  background-color: #ff9801; 
}

.right-drawer {
  right:0; 
  padding: 20px; 
}

.right{
  margin-left: 60px;
}

.right .text1{
  color:#2196f3;
}

.right-drawer .drawer-list {
  display:flex;
  flex-direction: column;
}

.right-drawer .drawer-list .list-list{
  padding:0!important;
}

.right-drawer .drawer-list .list1 {
  display: flex;
}

.right-drawer .drawer-list .list1 .list1-text {
  font-size:16px
}


/*Limit Height & Resize*/
.table_scroll {
  min-height: 300px;
  overflow: auto;
  margin: auto;
  resize: vertical;
  width: 100%;
  margin-top: 45px;
  /* box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 ); */
}

/*Div Table Setting*/
.css_table {
  display: table;
  position: relative;
  width:100%;
}

.css_tr {
  display: table-row;
  width: 250px !important;
}

.css_tr:nth-child(even) .css_td {
  background: #fafafa;
}

.css_tr:nth-child(odd) .css_td {
  background: #fafafa;
}

.css_td,
.css_th,
.css_sd{
  display: table-cell;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
}

.css_thead {
    display: table-header-group;
    font-weight: bold;
    z-index:2 !important;
    height: 100%;
    width:50%; 
    display:flex;
    align-items: center;
    position: sticky;
    top: 13.4%;
  }
  
  .subheader .tags .tags-container {
    position:absolute; 
    right:10px; 
    display:flex; 
    align-items:center;
  }
  
  .subheader .tags .tags-container .container{
    display:flex;
    align-items: center; 
    width: 7.6em;
    padding:0;
  }
  
  .subheader .tags .tags-container .container .tags-color{
    width:15px; 
    height:8px; 
    border-radius: 10px
  }
  
  .subheader .tags .tags-container .container .tags-name{
    padding-left:5px;
    pointer-events: none;
  }
  
  .subheader .tags .tags-container .container .travaille{
    background-color: #2196f3; 
  }
  
  .subheader .tags .tags-container .container .absence{
    background-color: #f44336; 
  }
  
  .subheader .tags .tags-container .container .conflit{
    background-color: #6a1b9a; 
  }
  
  .subheader .tags .tags-container .container .vacances{
    background-color: #4caf50; 
  }
  
  .subheader .tags .tags-container .container .rtt{
    background-color: #ffeb3a; 
  }
  
  .subheader .tags .tags-container .container .dimanche{
    background-color: #757575; 
  }
  
  .subheader .tags .tags-container .container .jour{
    background-color: #ff9801; 
  }

  .right-drawer {
    right:0; 
    padding: 20px; 
  }
  .right{
    margin-left: 60px;
  }
  .right .text1{
    color:#2196f3;
  }
  
  .right-drawer .drawer-list {
    display:flex;
    flex-direction: column;
  }
  .right-drawer .drawer-list .list-list{
    padding:0!important;
  }
  
  .right-drawer .drawer-list .list1 {
    display: flex;
  }
  
  .right-drawer .drawer-list .list1 .list1-text {
    font-size:16px
  }
  
  /*Limit Height & Resize*/
  .table_scroll {
    min-height: 300px;
    overflow: inherit;
    margin: auto;
    resize: vertical;
    width: 100%;
    margin-top: 45px;
    /* box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 ); */
  }
  
  /*Div Table Setting*/
  .css_table {
    display: table;
    position: relative;
    width:100%;
  }
  
  .css_tr {
    display: table-row;
    width: 250px !important;
  }
  
  .css_tr:nth-child(even) .css_td {
    background: #fafafa;
  }
  
  .css_tr:nth-child(odd) .css_td {
    background: #fafafa;
  }
  
  .css_td,
  .css_th,
  .css_sd{
    display: table-cell;
    border-bottom: 1px solid #d4d1d1;
    border-left: 1px solid #d4d1d1;
  }
  
  .css_thead {
    display: table-header-group;
    font-weight: bold;
    z-index:1;
    background-color: #fff;
  }
  
  .css_tfoot {
    background-color: #eee;
    display: table-footer-group;
    font-weight: bold;
  }
  
  .css_tbody {
    display: table-row-group;
  }
  
  /*Table Header Fixed */
  .css_th, .css_sd{
    position: sticky;
    background-color: #005075;
    color: #fff;
  }
  
  .css_th{
    top: 0;
    width: 40px;
  }
  
  .css_sd{
    left: 0;
  }
  
  .css_thead div.css_th:first-child,
  .css_tfoot div.css_th:first-child{
    left:0;
  }
  
  .css_tfoot .css_th{
    bottom:0
  }
  
  .sub_th {
      background-color: white;
      color: black;
  }
  
  .v-input--selection-controls {
    margin:auto!important;
  }
  


.css_tfoot {
  background-color: #eee;
  display: table-footer-group;
  font-weight: bold;
}

.css_tbody {
  display: table-row-group;
}

/*Table Header Fixed */
.css_th, .css_sd{
  position: sticky;
  background-color: #005075;
  color: #fff;
}

.css_th{
  top: 0;
  width: 40px;
}

.css_sd{
  left: 0;
}

.css_thead div.css_th:first-child,
.css_tfoot div.css_th:first-child{
  left:0;
}

.css_tfoot .css_th{
  bottom:0
}

.sub_th {
    background-color: white;
    color: black;
}

.v-input--selection-controls {
  margin:auto!important;
}

.sunday {
  background-color:rgb(97 97 97); 
  color:white;
}


.sunday1 {
  background-color:black; 
  color:white;
}

.css_table2{
  text-align:center; 
  margin:auto;
}

.header_sd {
  background-color:#424242;
}

.subheader_sd {
  background-color:#0086c2;
}

.content_sd {
  background-color:white; color:black;
}

.width_sd {
  width:20%!important
}

.theme--light.v-data-table>.v-data-table__wrapper>table>tbody>tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
  background: #ffd993 !important;
}

.border_table {
  display: table-cell;
  border-style: revert;
  border-color: #e6dada !important;
  white-space: nowrap;
  border-bottom: 0.2px solid #fff;
  border-right: 0.2px solid #fff;
}

.v-dialog .v-slide-group__wrapper {
  background-color: white!important;
}

.v-tab.v-tab--active {
  color: #005075!important;
}

.v-tab.v-tab--active i {
  color: #005075!important;
}

.v-tab{
  color: gray!important;
}

.v-tab i{
  color: gray!important;
}

.v-tabs-slider-wrapper {
  color: #005075;
}

.v-window .v-item-group .theme--light .v-tabs-items{
  height: 100%;
}

.area .v-input__control .v-input__slot .v-input__prepend-inner {
  margin:auto 0;
}

.v-input .area .v-textarea .v-textarea--auto-grow .v-textarea--no-resize .theme--light .v-text-field .v-text-field--is-booted .v-text-field--enclosed .v-text-field--outlined .v-text-field--placeholder {
  margin: auto 0!important;
  align-items: center;
}

.area label {
  position: absolute;
  transform: translateY(27px);
}

.button-date .v-btn__content {
  justify-content: flex-start!important;
}

.field .sub-field div .row .select-data .v-input__control {
  min-height: 0!important;
  height: 47px;
}

.field .sub-field div .row .select-data .v-input__control .v-input__slot {
  width: 50%;
  display: flex;
  justify-content: center;
  margin: auto;
}


@media (max-width: 1440px) {
  .subheader .sub-container .date-container .date-field {
    margin: 15px 2em;
  }

  .field .sub-field div .row .select-data .v-input__control .v-input__slot {
    margin: auto 0 auto auto;
  }
}