.header_profile {
    display: flex; 
    height: 70px
}

.header_profile .content {
    margin: auto 0; 
    padding-left: 7px; 
    display: flex;
}

.header_profile .content .logo_img {
    size: 60px;
    height: 48px;
    min-width: 48px;
    width: 48px;
}

.header_profile .content .header_title {
    margin: auto 0; 
    padding-left: 10px; 
    color: black;
}

.header_profile .content .header_title h2{
    font-weight: 400; 
    color: #005075
}

.sidebar_profile {
    width: 20%; 
    margin-right: 20px;
}

.sidebar_profile .sidebar_container {
    background-color: #eeeeee;
    min-height: 92vh; 
    height: 100%
}

.sidebar_profile .sidebar_container div .sidebar_button {
    border-radius: 0!important; 
    justify-content: normal!important;
    padding: 30px 20px; 
    background-color: #eeeeee!important; 
    color: #155d7f;
    width: 100%;
}

.sidebar_profile .sidebar_container .sidebar_border-bottom {
    width: 100%; 
    border-bottom: 2px solid #b8b8b8;
    background-color: black; 
    margin: 5px 0;
}

.sidebar_profile .sidebar_container div .sidebar_button .title{
    text-transform: none; 
    margin-left: 10px; 
    font-weight: 400;
    font-size: 18px!important;
}

.component_container {
    width: 100%;
}

.component_container .title_head {
    height: 60px; 
    display:flex; 
    border-bottom: solid 2px #838383; 
    align-items:center;
}

.text_fw{
    width: 100%;
    font-weight: 400;
}

.pad_header {
    padding-left: 30px
}

.pad_subs {
    padding-left:15px
}

.component_container .container {
    min-height: 80px; 
    display: flex; 
    border-bottom: solid 1px #9e9e9e; 
    align-items: center; 
    width: 100%
}

.none_border {
    border-bottom: none!important; 
}

.component_container .container .content {
    display: flex; 
    width: 100%;
}
.component_container .container .content .title_name {
    margin-right: 50px; 
    width: 15%; 
    display: flex; 
    align-items: center;
}

.if_true {
    width: 100%;
}

.title_color {
    color: #6d6d76;
}

.label_padding {
    padding: 10px 0;
}

.if_true .text {
    font-weight: 400
}

.vertical_center {
    display: flex; 
    align-items:center;
    width: 100%;
    height: 7vh;
}

.date_width {
    width: 18%;
}

.calendar_btn {
    color: #2196f3!important; 
    justify-content: initial; 
    background-color: #eeeeee!important; 
    box-shadow: none; 
    padding: 0!important;
}
.calendar_btn .text{
    justify-content: center; 
    margin: auto;
    font-weight: bold;
}

.vertical_center .padding_top {
    padding-top: 10px
}

.vertical_center .label {
    font-weight: 400;
    width: 14%;
}

.vertical_center .notification {
    display: flex
}
.vertical_center .notification .current_status {
    font-weight: 400; 
    width: 45%; 
    color: #6d6d76;
}
.vertical_center .notification .assets {
    color:#4caf50; 
    font-weight: 600;
}

.first_name {
    margin-right: 143px;
    font-weight: 400
}

.family_name {
    margin-right: 90.5px; 
    font-weight: 400
}

.text_field_margin {
    margin-right: 10px
}

.if_true .note {
    background-color:#e0e0e0; 
    padding: 5px 10px; 
    border-radius: 10px;
    margin-top: 10px;
}

.if_true .note .text_note {
    width: 100%; 
    font-weight: 400; 
    color: #155d7f
}

.if_true .button {
    display: flex; 
    padding: 20px 0 0px 0; 
    gap: 10px
}

.if_true .button .btn {
    color: white!important;
    background-color: #005075!important;
}

.if_true .button .txt{
    text-transform: initial;
    font-size: 10px; 
    font-weight: 400;
    font-size: 12px;
}

.if_false {
    display: flex; 
    width: 100%;
}

.if_false .title_field {
    color: #6d6d76;
}

.if_false .container_action {
    position:relative!important;
}

.if_false .container_action .edit_button {
    color: #2196f3!important; 
    box-shadow: none; 
    padding: 0!important; 
    height: 100%!important; 
    position: absolute; 
    right: 10px;
}

.if_false .container_action .edit_button .text {
    font-weight: 400
}

.pass_text .v-input__control .v-input__slot {
    background-color: #eeeeee!important;
    padding: 0!important;
}

.pass_text .v-input__control .v-input__slot .v-text-field__slot input{
    color: black!important;
    font-size: 30px;
}

.security_connection {
    display: flex; 
    gap: 10px;
}

.security_connection .icon-alert {
    font-size: 50px!important;
}
.security_connection .icon-shield {
    font-size: 30px;
}

.button-code {
    padding-top: 2em!important; 
    padding-bottom: 0!important;
}

.button-pad {
    padding-bottom: 0!important
}

.text_color {
    color: #6d6d76;
}

.button_container {
    position:relative;
}
.button_container .btn-btn {
    box-shadow: none; 
    padding: 10px 0!important; 
    height: 100%!important; 
    border: none;
    position: absolute; 
    right: 10px;
}

.button_container .btn-btn .text-text {
    text-transform: initial;
    text-decoration: underline; 
    color: #195f80!important;
}

.vertical-margin {
    margin: 5px 0;
}

.label-spacing {
    line-height: 1.3;
}

.text-2 {
    width: 50em;
}

.border_none {
    border-bottom: none!important;
}

.add_padding {
    padding: 0 20px 0 0;
}

.parameter_btn {
    margin:0 5px;
}

.parameter_data {
    display: flex; 
    min-height: 50px; 
    align-items: center; 
    width: 100%;
}

.parameter_data .icon {
    padding: 0 30px;
}

.parameter_dialog_container {
    height: 30vh;
}
.parameter_dialog_container .dialog_content {
    padding: 30px;
}
.parameter_dialog_container .dialog_content .head_content {
    display: flex;
    padding-bottom: 30px;
}
.parameter_dialog_container .dialog_content .head_content div .icon{
    font-size: 20px; 
    margin:auto;
}
.parameter_dialog_container .dialog_content .head_content .title_head {
    display: flex; 
    justify-content: center; 
    margin: auto;
}
.parameter_dialog_container .dialog_content .head_content .title_head .text {
    letter-spacing:2px; 
    color: black;
}
.parameter_dialog_container .dialog_content .head_content .title_head .text p {
    font-weight:400; 
    margin: auto!important;
}

.parameter_dialog_container .dialog_content .action_btn {
    position: absolute; 
    bottom: 0;
    width: 750px
}

.content_padding {
    padding: 20px 0;
}

.text_normal {
    font-weight: 400;
}

.text_g {
    color: #838383;
}

.calendar_field{
    color: #909090; 
    justify-content: initial;
}

.calendar_field .v-btn__content{
    justify-content: initial;
}

.radio-btn .v-input .v-input__control .v-input__slot .v-input--radio-group__input .v-radio  .v-label {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 10px 20px;
    line-height: 1.3;
}

.action_btn_btn .theme--light.v-btn.v-btn--has-bg {
    background-color: #005075!important;
    color: white;
}

.example {
    height: 79vh; 
    overflow-y: scroll;
    width: 100%;
    overflow-y: scroll; /* Add the ability to scroll */
  }
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  .example::-webkit-scrollbar {
      display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .example {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .advertise_field .v-input .v-input__control .v-input__slot .v-input__prepend-inner .v-input__icon .v-icon.v-icon {
      font-size: 45px!important;
  }

  .data-scroll {
    height: 78vh; 
    overflow-y: scroll;
    overflow-y: scroll; /* Add the ability to scroll */
  }
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  .data-scroll::-webkit-scrollbar {
      display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .data-scroll {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .advertise_field .v-input .v-input__control {
      margin: 0!important;
  }


  .text_box .mdi:before, .text_box .mdi-set {
      font-size: 25px;
  }