.header-title{
    font-weight: 600;
    margin: auto !important;
    font-size: 22px;
}

.sub_title {
    margin: auto 0 !important; 
    font-size: 20px !important; 
    font-weight: bold !important;
}

.row {
    padding: 15px;
}

.dialog-header {
    display:flex;
    flex-direction: column;
    padding:0 12px; 
    width:100%;
}

.dialog-title {
     padding:0 12px;
     width: 100%;
}

.underline-bottom {
    border-bottom: solid 1px gray; 
    margin-bottom: 5px;
}

.underline-top {
    border-top: solid 1px gray; 
    margin-bottom: 5px;
}

.btn-dialog {
    margin-left: 12px!important;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.theme--light.v-btn.v-btn--has-bg {
    background-color: white!important;
}

.col-12 {
    padding: 0 12px !important;
}

.subheader{
    margin-top: 16px !important;
}

.grey--text{
    color: grey !important;
}

.personal-info .v-icon{
    font-size: 33px !important;
}


.theme--light.v-tabs>.v-tabs-bar .v-tab.emp-tab:not(.active){
    color: #b7b7b7 !important;
}

.theme--light .emp-tab-container .emp-tab.active{
    color: #444343 !important;
}

table>thead.v-data-table-header>tr>th,
thead .v-data-table__checkbox>.v-icon {
    background-color: #FF5722 !important;
    color: #fff !important;
    text-transform: capitalize !important;
}
